H4 {
    
    font-family: Arial, Verdana, sans-serif;
    text-align: right;
  }

pre.test {text-align: right;
    
 } 

 div.styletext{
    font-family: 'Open Sans Condensed', sans-serif;
 }
 strong.decoration { text-decoration: underline;

 }
